/* You can add global styles to this file, and also import other style files */

/* fo fo real now bro */

.page-wrapper {
  display: flex;
  justify-content: center;
}

.page-content {
  display: block;
  width: 90%;
}

.page-header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: solid 1px #dadada;
}

.page-header h1 {
  margin: 0 0 5px 0;
  color: #47dcd8;
  text-transform: uppercase;
  font-size: 30px;
}

.page-header p {
  margin: 0 0 0px 0;
  /*color: #b1b1b1;*/
  color: #8c8c8c;

}

/* tabs */
.tabs-container {
  width: 100%;
  background-color: white;
  border-bottom: solid 1px #47dcd8;
}
.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tab {
  display: inline-block;
  margin-left: -3px;
}
.tab:first-child {
  margin-left: 0;
}
.tab a {
  display: block;
  padding: 15px 50px;
  color: #47dcd8;
  text-decoration: none;
  cursor: pointer;
}
.tab a.active, .tab a:hover {
  color: white;
  background-color: #47dcd8;
}

/* Tables */
.hs-table {
  width:100%;
}

.hs-table tr:not(:first-child) {
  cursor: pointer;
  border: solid 1px transparent; /* Fixes content jump on hover state with border */
}

.hs-table tr:first-child {
  border-bottom: solid 1px #47dcd8;
  background-color: #fafafa;
}

.hs-table tr:nth-child(odd) {
    background-color: #FAFAFA;
}

.hs-table tr:not(:first-child):hover > td{
  background-color: white;
  border-top: solid 1px #47dcd8;
  border-bottom: solid 1px #47dcd8;
  color: #47dcd8;
}

.hs-table th{
   padding:15px 0 15px 5px;
   color: #47dcd8;
   text-transform: uppercase;
   font-weight: 400;
}

.hs-table td{
  padding:10px 5px 10px 5px;
  /*color: #b1b1b1;*/
  color: #8c8c8c;
}

td.centered, th.centered {
  text-align: center;
}

.highlight {
  color: #47dcd8;
}


/* dashboard table */
.dashboard-table {
  width:100%;
}
.dashboard-table tr:not(:first-child) {
  cursor: pointer;
  border: solid 1px transparent; /* Fixes content jump on hover state with border */
}

.dashboard-table tr:first-child {
  border-bottom: solid 1px #47dcd8;
  background-color: #fafafa;
}

.dashboard-table tr:nth-child(odd) {
  background-color: #FAFAFA;
}

.dashboard-table tr:not(:first-child):hover > td{
  background-color: white;
  border-top: solid 1px #47dcd8;
  border-bottom: solid 1px #47dcd8;
  color: #47dcd8;
}

.dashboard-table th{
  padding:15px 0 15px 5px;
  color: #47dcd8;
  text-transform: uppercase;
  font-weight: 400;
}

.dashboard-table td{
  padding:10px 5px 10px 5px;
  /*color: #b1b1b1;*/
  color: #8c8c8c;
}
