.student-gegevens, .stage-gegevens, .bedrijf-gegevens, .stagevoortgang-gegevens{
  display: inline-block;
  float:left;
  /*padding: 5px;*/
  /*border: solid 1px #dadada;*/

  width: 49%;
}

.student-gegevens p, .stage-gegevens p, .bedrijf-gegevens p, .stagevoortgang-gegevens p {
  color: #8c8c8c;
}

.student-gegevens label, .stage-gegevens label, .bedrijf-gegevens label, .stagevoortgang-gegevens label{
  color: #43d1cd;
  font-size: 16px;
}

.student-gegevens {
  /*margin: 5px 15px 5px 0;*/
  margin:5px 0 30px 0;
  /*border-right: solid 1px #dadada;*/
}

.stage-gegevens {
  /*margin: 5px 0 5px 15px;*/
  margin: 5px 0 30px 0
}

.bedrijf-gegevens {
  /*margin: 15px 15px 5px 0;*/
  margin: 5px 0 5px;
}

.stagevoortgang-gegevens {
  margin: 5px 0 5px;
}

.gegevens label, .gegevens p {
  display: inline-block;
}

.gegevens label{
  width: 220px;
  padding: 8px;
}

h2 {
  font-size: 17px;
  margin:3px;
  color: #43d1cd;
}

.dashboard-panel {
  width:100%;
  border-top: solid 1px #47dcd8;
  border-bottom: solid 1px #47dcd8;
  text-transform: uppercase;
  padding:10px;
  background-color:#fafafa;
}

.gegevens .stagevoorstel {
  padding: 5px;
}
