<div class="page-header">
  <h1>Stage overzicht</h1>
  <p>Hier vindt u de gegevens van <strong class="highlight">Persoon A</strong>.</p>
</div>
<div class="dashboard-wrapper">
  <div class="student-gegevens">
    <div class="dashboard-panel">
      <h2>Student gegevens</h2>
    </div>
    <div class="gegevens">
      <label>Naam:</label>
      <p>Negin Nafissi</p>
    </div>
    <div class="gegevens">
      <label>Studentnummer:</label>
      <p>1090000</p>
    </div>
    <div class="gegevens">
      <label>Specialisatie:</label>
      <p>SE</p>
    </div>
    <div class="gegevens">
      <label>Module:</label>
      <p>IWLS</p>
    </div>
  </div>

  <div class="stage-gegevens">
    <div class="dashboard-panel">
      <h2>Stage gegevens</h2>
    </div>
    <div class="gegevens">
      <label>Stagebedrijf:</label>
      <p>ING</p>
    </div>
    <div class="gegevens">
      <label>Titel:</label>
      <p>Stagetitel</p>
    </div>
    <div class="gegevens">
      <label>Stagebegeleider:</label>
      <p>Alex van Manen</p>
    </div>
    <div class="gegevens">
      <label>Keywords</label>
      <p>SCRUM, Angular, ...</p>
    </div>
  </div>


  <div class="bedrijf-gegevens">
    <div class="dashboard-panel">
      <h2>Bedrijf gegevens</h2>
    </div>
    <div class="gegevens">
      <label>Bedrijfsnaam:</label>
      <p>ING</p>
    </div>
    <div class="gegevens">
      <label>Contactpersoon:</label>
      <p>Persoon A</p>
    </div>
    <div class="gegevens">
      <label>Website:</label>
      <p>www.ING.nl</p>
    </div>
  </div>
  <div class="stagevoortgang-gegevens">
    <div class="dashboard-panel">
      <h2>Stage voortgang</h2>
    </div>
    <div class="gegevens">
      <label>Status:</label>
      <p>Stagevoorstel in afwachting op goedkeuring</p>
    </div>
    <div class="gegevens">
      <label>Stagevoorstel:</label>
      <p class="stagevoorstel">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
        fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
        eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
        Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla
        ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
        Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
    </div>
  </div>
</div>
