<div class="page-header">
  <h1>Studenten</h1>
  <p>Hier vindt u een overzicht van de studenten, er zijn momenteel <strong class="highlight">329</strong> studenten
    geregisteerd.</p>
</div>
<div class="content-wrapper">
  <div class="tabs-container">
    <ul class="tabs">
      <li class="tab"><a id="een" class="tablink active" (click)="openContent('een','first')">IWLH</a></li>
      <li class="tab"><a id="twee" class="tablink" (click)="openContent('twee', 'second')">IWLS</a></li>
      <li class="tab"><a id="drie" class="tablink" (click)="openContent('drie','third')">INACTIEF</a></li>
    </ul>
  </div>

  <div id="first" class="tab-content">
    <div class="table-wrapper">
      <table class="hs-table">
        <tr>
          <th>Studentnummer</th>
          <th>Voornaam</th>
          <th>Achternaam</th>
          <th>Specialisatie</th>
          <th>Bedrijf</th>
          <th>Stagebegeleider</th>
          <th class="centered">Studiejaar</th>
        </tr>
        <tr routerLink="/studentoverzicht">
          <td>S1094351</td>
          <td>Negin</td>
          <td>Nafissi</td>
          <td>SE</td>
          <td>ING</td>
          <td>Alex Van Manen</td>
          <td class="centered">3</td>
        </tr>
        <tr>
          <td>S1098175</td>
          <td>Lisa</td>
          <td>Groenendijk</td>
          <td>SE</td>
          <td>ING</td>
          <td>Michiel Boere</td>
          <td class="centered">3</td>
        </tr>
        <tr>
          <td>S1090000</td>
          <td>Persoon</td>
          <td>A</td>
          <td>SE</td>
          <td>Ergens</td>
          <td>Alex van Manen</td>
          <td class="centered">3</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td class="centered">3</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>C</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td class="centered">3</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="second" class="tab-content" style="display:none">
    <div class="table-wrapper">
      <table class="hs-table">
        <tr>
          <th>Studentnummer</th>
          <th>Voornaam</th>
          <th>Achternaam</th>
          <th>Specialisatie</th>
          <th>Bedrijf</th>
          <th>Stagebegeleider</th>
          <th>Studiejaar</th>
        </tr>
        <tr>
          <td>S1090000</td>
          <td>Pietje</td>
          <td>Puk</td>
          <td>FICT</td>
          <td>Politie</td>
          <td>Peter vd Wijde</td>
          <td>4</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Betty</td>
          <td>Boop</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Jeroen Rijsdijk</td>
          <td>4</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="third" class="tab-content" style="display:none">
    <div class="table-wrapper">
      <table class="hs-table">
        <tr>
          <th>Studentnummer</th>
          <th>Voornaam</th>
          <th>Achternaam</th>
          <th>Specialisatie</th>
          <th>Bedrijf</th>
          <th>Stagebegeleider</th>
          <th>Studiejaar</th>
          <th>Eindbeoordeling</th>
        </tr>
        <tr>
          <td>S1090000</td>
          <td>Persoon</td>
          <td>A</td>
          <td>SE</td>
          <td>Ergens</td>
          <td>Alex van Manen</td>
          <td>4</td>
          <td>10.0</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>5.9</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>7.0</td>

        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>7.0</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>7.0</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>8.5</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>7.0</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>7.3</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>6.1</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>6.0</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>7.2</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>8.6</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>7.0</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>8.3</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>7.3</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>7.5</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>6.0</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>6.0</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>5.5</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>9.3</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>6.5</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>5.6</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>7.5</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>7.0</td>
        </tr>
        <tr>
          <td>S1090001</td>
          <td>Persoon</td>
          <td>B</td>
          <td>MEDT</td>
          <td>ergens</td>
          <td>Michiel Boere</td>
          <td>4</td>
          <td>5.8</td>
        </tr>
      </table>
    </div>
  </div>
</div>
