<div class="page-header">
  <h1>Stages</h1>
  <p>Hier vind je een overzicht v/d stages, er zijn momenteel <strong class="highlight">329</strong> stages
    actief.</p>
</div>
  <div class="content-wrapper">
      <div class="tabs-container">
        <ul class="tabs">
          <li class="tab"><a id="een" class="tablink active" (click)="openContent('een','first')">IWLH</a></li>
          <li class="tab"><a id="twee" class="tablink" (click)="openContent('twee', 'second')">IWLS</a></li>
          <li class="tab"><a id="drie" class="tablink" (click)="openContent('drie','third')">Inactief</a></li>
        </ul>
      </div>

      <div id="first" class="tab-content">
        <div class="table-wrapper">
          <table class="hs-table">
            <tr>
              <th>Bedrijfsnaam</th>
              <th>Plaats</th>
              <th>Titel</th>
              <th>Specialisatie</th>
              <th>Keywords(?)</th>
            </tr>
            <tr (click)="goToOverzicht()">
              <td>ING</td>
              <td>Leiden</td>
              <td>Stagetitle</td>
              <td>SE</td>
              <td>SCRUM, ...</td>
            </tr>
            <tr>
              <td>Rabobank</td>
              <td>Zoetermeer</td>
              <td>Stagetitel</td>
              <td>MEDT</td>
              <td>iets</td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
            <tr>
              <td>NCIM</td>
              <td>Leidschendam</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="second" class="tab-content" style="display:none">
        <div class="table-wrapper">
          <table class="hs-table">
            <tr>
              <th>Bedrijfsnaam</th>
              <th>Plaats</th>
              <th>Titel</th>
              <th>Specialisatie</th>
              <th>Keywords(?)</th>
            </tr>
            <tr>
              <td>Avanade</td>
              <td>Ergens</td>
              <td>Webdevelopment</td>
              <td>SE</td>
              <td>SCRUM, Angular</td>
            </tr>
            <tr>
              <td>Avanade</td>
              <td>Ergens</td>
              <td>Webdevelopment</td>
              <td>SE</td>
              <td>SCRUM, Angular</td>
            </tr>
            <tr>
              <td>Avanade</td>
              <td>Ergens</td>
              <td>Webdevelopment</td>
              <td>SE</td>
              <td>SCRUM, Angular</td>
            </tr>
            <tr>
              <td>Avanade</td>
              <td>Ergens</td>
              <td>Webdevelopment</td>
              <td>SE</td>
              <td>SCRUM, Angular</td>
            </tr>
          </table>
        </div>
      </div>
      <div id="third" class="tab-content" style="display:none">
        <div class="table-wrapper">
          <table class="hs-table">
            <tr>
              <th>Bedrijfsnaam</th>
              <th>Plaats</th>
              <th>Titel</th>
              <th>Specialisatie</th>
              <th>Keywords(?)</th>
            </tr>
            <tr>
              <td>Some Company</td>
              <td>Some place</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td>SCRUM, Database</td>
            </tr>
            <tr>
              <td>Some Company</td>
              <td>Some place</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td>SCRUM, Database</td>
            </tr>
            <tr>
              <td>Some Company</td>
              <td>Some place</td>
              <td>Stagetitel</td>
              <td>FICT</td>
              <td>SCRUM, Database</td>
            </tr>
            <tr>
              <td>Some Company</td>
              <td>Some place</td>
              <td>Stagetitel</td>
              <td>FICT</td>
              <td>SCRUM, Database</td>
            </tr>
            <tr>
              <td>Some Company</td>
              <td>Some place</td>
              <td>Stagetitel</td>
              <td>BDAM</td>
              <td>SCRUM, Database</td>
            </tr>
            <tr>
              <td>Some Company</td>
              <td>Some place</td>
              <td>Stagetitel</td>
              <td>SE</td>
              <td>SCRUM, Database</td>
            </tr>

          </table>
        </div>
      </div>
    </div>









<!--<div class="container">-->
  <!--<div class="panel panel-default">-->
    <!--<p class="panel-heading">Stage</p>-->
    <!--<div class="panel-body">-->

      <!--<div class="stage-table-wrapper">-->
        <!--<div class="panel panel-deafult">-->
          <!--<div class="panel-body">-->
            <!--<div class="pull-right">-->
              <!--<button type="button" class="btn btn-success btn-space btn-sm">-->
                <!--Toevoegen-->
              <!--</button>-->
              <!--<button type="button" class="btn btn-danger btn-space btn-sm">-->
                <!--Verwijderen-->
              <!--</button>-->
            <!--</div>-->
            <!--<table class="table table-fixed">-->
              <!--<thead>-->
              <!--<tr>-->
                <!--<th>Bedrijfsnaam</th>-->
                <!--<th>Plaats</th>-->
                <!--<th>Titel</th>-->
                <!--<th>Richting</th>-->
                <!--<th>Module</th>-->
                <!--<th>Status</th>-->
              <!--</tr>-->
              <!--</thead>-->
              <!--<tbody>-->
              <!--&lt;!&ndash;TODO: Dit is hardcoded!&ndash;&gt;-->
              <!--<tr>-->
                <!--<td>Hogeschool Leiden</td>-->
                <!--<td>Leiden</td>-->
                <!--<td>Meelopstage</td>-->
                <!--<td>SE</td>-->
                <!--<td>IWLS</td>-->
                <!--<td>Actief</td>-->
              <!--</tr>-->
              <!--</tbody>-->
            <!--</table>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
