<div class="page-header">
  <h1>Eindbeoordeling</h1>
  <p>Dit is een overzicht van alle studenten die nog een eindbeoordeling nodig hebben, dit zijn er momenteel <strong class="highlight">3</strong>.</p>
</div>
