<div class="page-header">HSSTIP</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <form (submit)="loginUser($event)">
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" id="password">
            </div>
            <div class="loginbutton">
              <button type="submit" class="btn btn-success btn-block">Log in</button>
            </div>
            <div class="checkbox">
              <label><input type="checkbox">Onthoud mij</label>
            </div>
            <button type="button" class="btn btn-link">Wachtwoord vergeten?</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
