/*header{*/
  /*text-align: center;*/
  /*padding: 20px 0;*/
  /*font-size: 40px;*/
  /*!*border-bottom: 2px solid #eee;*!*/
/*}*/

.page-header {
  text-align: center;
  padding: 5px 0;
  font-size: 40px;
}

.panel {
  background-color: #f8f8f8
}

.loginbutton {
  align-content: center;
}
