<div id="wrapper">
  <header>
    <nav id="navigation" class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <!--<a class="navbar-brand" href="#"><img src="../assets/hsleiden_logo.png" alt="HSLeiden Logo" style="width: 50px; height: 50px;"></a>-->
          <img src="../assets/hsleiden_logo.png" alt="HSLeiden Logo" style="width: 50px; height: 50px;">
        </div>
        <ul class="nav navbar-nav">
          <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a routerLink="/studenten" routerLinkActive="active">Studenten</a></li>
          <li><a routerLink="/stages" routerLinkActive="active">Stages</a></li>
          <li><a routerLink="/bedrijven" routerLinkActive="active">Bedrijven</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/docenten"><span class="glyphicon glyphicon-user"></span> Profiel</a></li>
          <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
  </header>
</div>
