.wrapper {
  height: 100%;
}
#navigation{
  background-color: #23114c;
  /*height: 60px;*/
  /*height: 100%;*/
}
/*.container-fluid {*/
/*height: 60px;*/
/*}*/

.navbar-brand {

}

li a {
  color: white;
}

li a.active {
  background-color: #00afaf;
  /*height: 58px;*/
}

li a.active:hover{
  color: #484848;
}

li a:hover {
  color: #6d6d6d;
}
