<div class="page-header">
  <h1>Stagevoorstellen</h1>
  <p>Dit is een overzicht van alle stagevoorstellen. Er zijn momenteel <strong class="highlight">3</strong> nieuwe stagevoorstellen.</p>
</div>
<div class="stagevoorstellen-wrapper">
  <table class="hs-table">
    <tr>
      <th>Studentnaam</th>
      <th>Studentnummer</th>
      <th>Module</th>
      <th>Stagetitle</th>
      <th>Keywords</th>
    </tr>
    <tr routerLink="/studentoverzicht">
      <td>Negin Nafissi</td>
      <td>1090000</td>
      <td>IWLS</td>
      <td>Database beheerder</td>
      <td>MySQL, SCRUM</td>
    </tr>
    <tr>
      <td>Lisa Groenendijk</td>
      <td>1090000</td>
      <td>IWLS</td>
      <td>Backend developer</td>
      <td>SCRUM, Java</td>
    </tr>
    <tr>
      <td>Reno Meijer</td>
      <td>1090000</td>
      <td>IWLS</td>
      <td>Frontend developer</td>
      <td>SCRUM, Angular</td>
    </tr>
  </table><br>

  <table class="hs-table">
    <tr>
      <th>Studentnaam</th>
      <th>Studentnummer</th>
      <th>Module</th>
      <th>Stagetitle</th>
      <th>Keywords</th>
    </tr>
    <tr>
      <td>Persoon A</td>
      <td>1090000</td>
      <td>IWLS</td>
      <td>Database beheerder</td>
      <td>MySQL, SCRUM</td>
    </tr>
    <tr>
      <td>Persoon B</td>
      <td>1090000</td>
      <td>IWLS</td>
      <td>Backend developer</td>
      <td>SCRUM, Java</td>
    </tr>
  </table>
</div>
