.inputfield label {
  color:#b1b1b1;
}

/*inputvelden*/

.input-wrapper {
  padding:20px;
}

.inputfield{
  padding: 5px 0 5px 0;
}
.inputfield label {
  width: 175px;
}
.inputfield input {
  width: 220px;
  padding: 5px;
}

