<div class="page-header">
  <h1>Docent</h1>
  <p>Hier vindt u een overzicht van uw gegevens.</p>
</div>
<div class="content-wrapper">
  <div class="tabs-container">
    <ul class="tabs">
      <li class="tab"><a id="een" class="tablink active" (click)="openContent('een','first')">Gegevens</a></li>
      <li class="tab"><a id="twee" class="tablink" (click)="openContent('twee', 'second')">Account</a></li>
      <li class="tab"><a id="drie" class="tablink" (click)="openContent('drie', 'third')">Begeleiding</a></li>
    </ul>
  </div>

  <div id="first" class="tab-content">
    <div class="input-wrapper">
      <div class="inputfield">
        <label>Voornaam:</label>
        <input type="text" id="voornaam" placeholder="Eric" disabled="true">
      </div>

      <div class="inputfield">
        <label>Tussenvoegsel:</label>
        <input type="text" id="tussenvoegsel" placeholder="Van" disabled="true">
      </div>

      <div class="inputfield">
        <label>Achternaam:</label>
        <input type="text" id="achternaam" placeholder="Wessel" disabled="true">
      </div>

      <div class="inputfield">
        <label>Email:</label>
        <input type="email" id="email" placeholder="wessel.van.e@hsleiden.nl" disabled="true">
      </div>

      <div class="inputfield">
        <label>Telefoonnummer:</label>
        <input type="text" id="telefoonnummer" placeholder="0612345678" disabled="true">
      </div>

      <div class="buttons">
        <div *ngIf="isValid; else editButtons">
          <button type="button" name="bewerk" (click)="changeValue(false)">Bewerk</button>
        </div>
        <ng-template #editButtons>
          <div>
            <button type="submit" name="opslaan">Opslaan</button>
            <button type="reset" name="annuleren">Annuleren</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div id="second" class="tab-content" style="display:none">
    <div class="input-wrapper">
      <div class="inputfield">
        <label>Gebruikersnaam:</label>
        <input type="text" id="gebruikersnaam" placeholder="wessel.van.e" disabled="true">
      </div>
      <div class="inputfield">
        <label>Wachtwoord:</label>
        <input type="password" id="wachtwoord" placeholder="****" disabled="true">
      </div>
      <div class="inputfield">
        <label>Wachtwoord bevestiging:</label>
        <input type="password" id="wachtwoord2" placeholder="****" disabled="true">
      </div>
      <div class="buttons">
        <button type="button">Wijzigen</button>
      </div>
    </div>
  </div>

  <div id="third" class="tab-content" style="display: none;">
    <div class="table-wrapper">
      <table class="hs-table">
        <tr>
          <th>Studentnaam</th>
          <th>Studentnummer</th>
          <th>Richting</th>
          <th>Stage module</th>
          <th>Begin Datum</th>
        </tr>
        <tr>
          <td>Negin Nafissi</td>
          <td>1090000</td>
          <td>SE</td>
          <td>IWLS</td>
          <td>01-02-2018</td>
        </tr>
      </table>
    </div>
  </div>
</div>
