<div class="page-header">
  <h1>Bedrijven</h1>
  <p>Hier vindt u een overzicht van de bedrijven, er zijn momenteel <strong class="highlight">329</strong> bedrijven
    geregisteerd.</p>
</div>
<div class="content-wrapper">
  <div class="tabs-container">
    <ul class="tabs">
      <li class="tab"><a id="een" class="tablink active" (click)="openContent('een','first')">Actief</a></li>
      <li class="tab"><a id="twee" class="tablink" (click)="openContent('twee', 'second')">Inactief</a></li>
    </ul>
  </div>

  <div id="first" class="tab-content">
    <div class="table-wrapper">
      <table class="hs-table">
        <tr>
          <th>Bedrijfsnaam</th>
          <th>Plaats</th>
          <th>Contactpersoon</th>
          <th>Website</th>
        </tr>
        <!--TODO: Dit is hardcoded!-->
        <tr>
          <td>Hogeschool Leiden</td>
          <td>Leiden</td>
          <td>Eric van Wessel</td>
          <td>www.hsleiden.nl</td>
        </tr>
        <tr>
          <td>ING</td>
          <td>Leiden</td>
          <td>Persoon A</td>
          <td>www.ing.nl</td>
        </tr>
        <tr>
          <td>Stucomm</td>
          <td>Utrecht</td>
          <td>Persoon B</td>
          <td>www.stucomm.nl</td>
        </tr>
      </table>
    </div>
  </div>

  <div id="second" class="tab-content">
    <div class="table-wrapper">
      <table class="hs-table">


      </table>
    </div>
  </div>
</div>
