<div class="page-header">
  <h1>Dashboard</h1>
  <p>Hier vind je een overzicht met de laatste wijzigingen in het systeem.</p>
</div>
<div class="todo-container">
  <div class="todo-item" routerLink="/studentbegeleiding">
    <div class="icon">
      <i class="fa fa-check fa-5x"></i>
    </div>
    <div class="content">
      <h1>Student(en) accepteren / afwijzen</h1>
      <p>Er wachten momenteel 3 studenten op acceptatie</p>
    </div>
  </div>
  <div class="todo-item" routerLink="/stagevoorstellen">
    <div class="icon">
      <i class="fa fa-file-text-o fa-5x"></i>
    </div>
    <div class="content">
      <h1>Stagevoorstel(len) beoordelen</h1>
      <p>Er wachten momenteel 3 stagevoorstel(len) op een beoordeling</p>
    </div>
  </div>
  <div class="todo-item" routerLink="/eindbeoordeling">
    <div class="icon">
      <i class="fa fa-graduation-cap fa-5x"></i>
    </div>
    <div class="content">
      <h1>Eindbeoordeling student(en)</h1>
      <p>Er wachten momenteel 3 studenten op een eindbeoordeling</p>
    </div>
  </div>
</div>

<div class="todo-lijst-container">
  <div class="begeleiding">
    <table class="hs-table">
      <tr>
        <th>Studentnaam</th>
        <th>Studentnummer</th>
        <th>Module</th>
      </tr>
      <tr>
        <td>Negin Nafissi</td>
        <td>1090000</td>
        <td>IWLS</td>
      </tr>
      <tr>
        <td>Persoon A</td>
        <td>1090000</td>
        <td>IWLS</td>
      </tr>
      <tr>
        <td>Persoon B</td>
        <td>1090000</td>
        <td>IWLS</td>
      </tr>
    </table>
  </div>
  <div class="voorstellen">
    <table class="hs-table">
      <tr>
        <th>Studentnaam</th>
        <th>Studentnummer</th>
        <th>Module</th>
      </tr>
      <tr>
        <td>Lisa Groenendijk</td>
        <td>1090000</td>
        <td>IWLS</td>
      </tr>
      <tr>
        <td>Persoon C</td>
        <td>1090000</td>
        <td>IWLS</td>
      </tr>
      <tr>
        <td>Persoon D</td>
        <td>1090000</td>
        <td>IWLS</td>
      </tr>
    </table>
  </div>
  <div class="beoordelingen">
    <table class="hs-table">
      <tr>
        <th>Studentnaam</th>
        <th>Studentnummer</th>
        <th>Module</th>
      </tr>
      <tr>
        <td>Persoon E</td>
        <td>1090000</td>
        <td>IWLS</td>
      </tr>
      <tr>
        <td>Persoon F</td>
        <td>1090000</td>
        <td>IWLS</td>
      </tr>
      <tr>
        <td>Persoon G</td>
        <td>1090000</td>
        <td>IWLS</td>
      </tr>
    </table>
  </div>
</div>

<!--<div class="dashboard-content-top">-->

  <!--<div class="todo-list">-->
    <!--<h3>To Do-list</h3>-->
    <!--<table class="dashboard-table">-->
      <!--<tr>-->
        <!--<th>To do</th>-->
        <!--<th>Aantal</th>-->
        <!--<th>Status</th>-->
      <!--</tr>-->

      <!--<tr>-->
        <!--<td>Student(en) accepteren/afwijzen</td>-->
        <!--<td class="centered">3</td>-->
        <!--<td class="centered">-</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>Stagevoorstel(len) beoordelen</td>-->
        <!--<td class="centered">5</td>-->
        <!--<td class="centered">-</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>Eindbeoordeling student(en)</td>-->
        <!--<td class="centered">2</td>-->
        <!--<td class="centered">-</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->

  <!--<div class="new-student-wrapper">-->
    <!--<h3>Nieuwe studenten</h3>-->
    <!--<table class="dashboard-table">-->
      <!--<tr>-->
        <!--<th>Gebruikersnaam</th>-->
        <!--<th>Naam</th>-->
        <!--<th>Studentnummer</th>-->
      <!--</tr>-->
      <!--&lt;!&ndash;TODO: Dit is hardcoded!&ndash;&gt;-->
      <!--<tr>-->
        <!--<td>S1094351@student.hsleiden.nl</td>-->
        <!--<td>Negin Nafissi</td>-->
        <!--<td>1094351</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="dashboard-content-bottom">-->

  <!--<div class="new-mentor-wrapper">-->
    <!--<h3>Nieuwe toewijzingen</h3>-->
    <!--<table class="dashboard-table">-->
      <!--<tr>-->
        <!--<th>Toegewezen door</th>-->
        <!--<th>Student naam</th>-->
        <!--<th>Richting</th>-->
      <!--</tr>-->
      <!--&lt;!&ndash;TODO: Dit is hardcoded!&ndash;&gt;-->
      <!--<tr>-->
        <!--<td>Roland Westveer</td>-->
        <!--<td>Negin Nafissi</td>-->
        <!--<td>SE</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->

  <!--<div class="new-stage-wrapper">-->
    <!--<h3>Nieuwe stages</h3>-->
    <!--<table class="dashboard-table">-->
      <!--<tr>-->
        <!--<th>Bedrijf</th>-->
        <!--<th>Titel</th>-->
        <!--<th>Status</th>-->
      <!--</tr>-->
      <!--&lt;!&ndash;TODO: Dit is hardcoded!&ndash;&gt;-->
      <!--<tr>-->
        <!--<td>Hogeschool Leiden</td>-->
        <!--<td>Meeloopstage</td>-->
        <!--<td>Actief</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
<!--</div>-->




<!--<div class="container">-->
<!--<div class="panel panel-default">-->
<!--<p class="panel-heading">Dashboard</p>-->
<!--<div class="panel-body">-->

<!--<div class="newStudent-table-wrapper">-->
<!--<div class="panel panel-deafult">-->
<!--<div class="panel-body">-->
<!--<table class="table table-fixed">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Gebruikersnaam</th>-->
<!--<th>Naam</th>-->
<!--<th>Studentnummer</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--&lt;!&ndash;TODO: Dit is hardcoded!&ndash;&gt;-->
<!--<tr>-->
<!--<td>S1094351@student.hsleiden.nl</td>-->
<!--<td>Negin Nafissi</td>-->
<!--<td>1094351</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="newStage-table-wrapper">-->
<!--<div class="panel panel-deafult">-->
<!--<div class="panel-body">-->
<!--<table class="table table-fixed">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Bedrijf</th>-->
<!--<th>Titel</th>-->
<!--<th>Status</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--&lt;!&ndash;TODO: Dit is hardcoded!&ndash;&gt;-->
<!--<tr>-->
<!--<td>Hogeschool Leiden</td>-->
<!--<td>Meeloopstage</td>-->
<!--<td>Actief</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

