.todo-list, .new-student-wrapper, .new-stage-wrapper, .new-mentor-wrapper{
  width:50%;
  margin:0;
}

.todo-list, .new-mentor-wrapper {
  padding: 10px 40px 10px 10px;
}

.new-student-wrapper, .new-stage-wrapper {
  padding: 10px 10px 10px 40px;
}

.dashboard-content-top, .dashboard-content-bottom {
  display: flex;
  justify-content: center;
}

h3 {
  text-transform: uppercase;
  /*color: #47dcd8;*/
  color: #381b79;

}


.todo-container {
  display: flex;
  flex-flow: row;
  align-content: flex-start;
  flex-wrap: nowrap;
}

.todo-item {
  display: flex;
  background-color: white;
  border: solid 1px #dadada;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 150px;
  min-width: 400px;
  flex-grow: 1;
}

.todo-item:last-child {
  margin-right: 0;
}

.todo-item .icon {
  display: flex;
  height: calc(100% - 20px);
  width: 150px;
  margin: 10px;
  border-right: solid 1px #dadada;
  padding-right: 10px;
  justify-content: center;
  vertical-align: middle;
}

.todo-item .icon i {
  display: flex;
  align-self: center;
}

.todo-item .icon i:before {
  color: #b2b2b2;
}

.todo-item .content {
  display: inline-block;
}

.todo-item .content h1 {
  font-size: 24px;
  color: #b2b2b2;
}

.todo-item .content p {
  color: #b2b2b2;
}

.todo-item:hover, .todo-item:hover > *,
.todo-item.active, .todo-item.active > *,
.todo-item:hover .icon i:before, .todo-item:hover .content *,
.todo-item.active .icon i:before, .todo-item.active .content *{
  border-color: #43d1cd;
  color: #43d1cd;
}

@media screen and (max-width: 1600px) {
  .todo-container {
    flex-wrap: wrap;
  }

  .todo-item {
    margin-bottom: 5px;
  }

  .todo-item:last-child {
    margin-right: 5px;
  }
}
